/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
    text-align: center;
}

/* Header styles */
header {
    background-color: #2d5c80;
    color: white;
    padding: 1rem 0;
}

header h1 {
    margin: 0;
    font-size: 2rem;
}

nav {
    margin-top: 1rem;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

/* Main content styles */
main {
    padding: 2rem;
}

section#product-showcase {
    margin: 2rem auto;
    max-width: 800px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    text-align: center;
}

section#product-showcase h2 {
    color: #2d5c80;
    margin-bottom: 1rem;
}

#product-showcase  {
    margin: 1rem 0;
    max-width: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

section#product-showcase p {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
}

/* Footer styles */
footer {
    background-color: #2d5c80;
    color: white;
    padding: 0.5rem 0;
    margin-top: 2rem;
}

